.header-holder {
    height: 100px;
    background: -webkit-linear-gradient(#006C48, #009966);
    background: -moz-linear-gradient(#006C48, #009966);
    padding: 10px;
    margin-bottom: 40px;
}

.header {
    color: #eee;
}

th, td {
    text-align: center;
}
tr td:first-child {
    text-align: left;
}

.message {
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: #FF8080;
    color: #fff;
}